:root {
    --color-principal: #039E95;
    --color-secondary: #E999A0;
}

/* CSS Reset v2.0 | 20110126*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* End CSS Reset */

main {
   width: 100%;
}

header {
    background-color: white;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    font-family: Arial, sans-serif;
}

nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

nav ul li a {
    font-size: 18px;
    font-weight: bold;
    font-family: "Futura", sans-serif;
    color: var(--color-principal);
    cursor: pointer;
    margin-right: 5px;
    text-decoration: none;
}

nav ul li {
display: flex;
justify-content: space-between;
}

nav ul i {
        color: var(--color-principal);
}

.fondo {
    position: relative;
}

.fondo .imagen-fondo {
    filter: brightness(70%);
    width: 100%;
}

article p h2 {
    margin-bottom: 20px;
}

.fondo article  {
    position: absolute;
    bottom: 50px;
    left: 50px;
    color: white;
}

.boton-idioma {
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    padding: 5px;
    color: white;
    margin-left: 10px;
    align-items: center;
    padding: 10px;
    background-color: var(--color-secondary);
}

button .bandera img {
    width: 25px;
    height: 25px;
}

.texto-idioma {
    padding-left: 10px;
    padding-right: 20px;
}

.footer-fondo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.botones, .carusel {
    display: flex-end;
    gap: 10px;
}

.carusel img {
    width: 50px;
    height: 50px;
    position: relative;
    border-radius: 50%;
}